<footer>
    <div class="container">
      <div class="footer-links">
        <ul>
          <li><a href="/about">About Us</a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="contact-info">
        <p>Address: Shastri nagar, Jaipur,Rajasthan, India</p>
        <p>Phone: 123456890</p>
        <p>Email: info@example.com</p>
      </div>
      <div class="social-icons">
        <a href="#">Instra<i class="fab fa-facebook-f"></i></a>
        <a href="#">faceboox<i class="fab fa-twitter"></i></a>
        <a href="#">Linkdin<i class="fab fa-instagram"></i></a>
        <!-- Add more social media icons as needed -->
      </div>
    </div>
    <div class="copyright">
      <p>&copy; 2024 Krishna Singh Rathore. All rights reserved.</p>
    </div>
  </footer>
  