        <!-- Main Section of the page -->
        <link rel="stylesheet" href="style.css">
        <div class="midsection">
        <main class="main">
            <div class="middone">
                <h2>Hi, I'm <span class="typinjs"
                        style="color: orange; font-weight: 700;text-shadow: 2px 2px rgba(0, 0, 0, 0.548);">Developer</span>
                </h2>
                <h4>i am <span id="dynamictext">Krishna</span></h4>
                <h5>Hey Currently I am Looking for Job, If You want to work with You Feel Free to contact with me</h5>
                <button class="btncon"><a href="/contact" >Contact</a></button>
            </div>
            <div class="middtwo">
                <img src="https://i.pinimg.com/originals/3a/25/d4/3a25d4c633cf0b4b8bb3af3adb91d9a4.jpg" alt="my image">
            </div>
        </main>
    </div>